<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
				<key>dateExpires</key>
				<string>2/23/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBRadioCheckboxButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MOLH.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F296D78D999850EBFD32578E7EF8CB7BFFB96F8</string>
						<key>dateExpires</key>
						<string>2/23/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TBYZE4288M</string>
						<key>name</key>
						<string>Fudex</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TBYZE4288M.com.Fudex.Teer</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TBYZE4288M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Teer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e157bb6c-d3ba-41f1-8c06-3ea21179b0b0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.Fudex.Teer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TBYZE4288M</string>
				<key>name</key>
				<string>Fudex</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
